html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* done */
body {
  color: #ffffff; /* color of text is white */
  line-height: 1.6; /* line height for <div> elements */
  background-color: #141414; /* background color of page */
}

/**
 * About Page
 */

/* done */
div {
  font-size: 20px; /* font size */
  font-family: "Barlow Condensed", sans-serif; /* font style */
}

/* done */
div.content {
  margin: auto; /* this helps center the div with content */
  padding: 1.5em; /* add some inner padding */
  max-width: 800px; /* add a max width to div */
  background-color: rgba(0, 0, 0, 0.9); /* div is a little transparent */
}

/* done */
div.about img {
  width: 40%; /* make width only 40% if large screen */
}

/* done */ /* TODO: better way to organize this? */
div p {
  padding: 0 1.5em;
}

/* done */
nav a {
  color: #ffffff; /* color of text color */
  text-decoration: none; /* no decoration with links */
}

/* done */
a:hover {
  /* TODO: choose better color that makes sense for Phages? */
  color: hotpink; /* color of nav buttons when hovered */
}

/* done */
#contentArea {
  padding-top: 1em; /* spacing between content and nav bar */
}

/**
 * Navigation Bar
 */
#navoptions {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0);
}

#navoptions ul {
  overflow-x: hidden;
  margin: 0;
  padding: 1em;
  text-align: center;
}

#navoptions li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 10px;
  padding: 0 5px 0 5px;
  text-align: center;
  background-color: black;
  border: 1px solid white;
}

/**
 * Embedded Videos
 */
.videowrapper {
  padding: 56.25% 0 0 0;
  position: relative;
}

.videowrapper iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* done */
.grid-container {
  display: grid; /* display is grid because it is a grid-container*/
  grid-template-columns: 2 1; /* one column with two rows for now */
  padding: 3vw; /* add a little bit of padding */
}

/* done */
.grid-item {
  cursor: pointer; /* change cursor to pointer */
  padding: 0.5vw; /* a bit of padding around the image button */
}

/* done */
.grid-item:hover {
  border: 1px solid rgba(255, 255, 255, 1); /* when hovered draw white border */
}

/* done */
.grid-item img {
  width: 100%; /* make img fit the size of its parent (grid item) */
  height: 100%;
}

/* done */
.overlay {
  position: relative; /* relative to grid-item */
  top: 50%; /* move text 50% from top */
  left: 50%; /* move text 50% from right */
  transition: 0.5s ease; /* fade in/out transition */
  opacity: 0.5; /* when not hovered, half opacity */
}

/* done */
.grid-item:hover .overlay {
  opacity: 1; /* make it opaque if hovered */
}

/* done */
.overlaytext {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #dd6376; /* color of text */
  font-size: 350%; /* font size */
  white-space: nowrap; /* don't wrap if name too big */
}

/**
 * Hydra Page
 */
canvas {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#work ul {
  font-size: 24px;
}

.column {
  height: 400px;
}

/**
 * For mobile devices 
 */
@media screen and (max-width: 800px) {
  .videowrapper iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.content {
    max-width: none;
    max-height: none;
  }

  div.grid-item {
    padding: 0;
  }

  /* done */
  div.about img {
    width: auto; /* auto adjust size */
    max-width: 50vw; /* this is max size for mobile */
  }

  /* done */
  .overlay {
    opacity: 100; /* just make text completely opaque for mobile */
  }

  /* done */
  .overlaytext {
    white-space: nowrap; /* don't wrap if name too big */
    font-size: 12vw; /* font should be relative to viewport */
  }

  /**
   * Hydra Page 
   */
  #column {
    border: none;
  }
}
