html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* done */
body {
  color: #ffffff; /* color of text is white */
  line-height: 1.6; /* line height for <div> elements */
  background-color: #141414; /* background color of page */
}

/**
 * About Page
 */
/* done */
div {
  font-size: 20px; /* font size */
  font-family: "Barlow Condensed", sans-serif; /* font style */
}

/* done */
div.content {
  margin: auto; /* this helps center the div with content */
  padding: 1.5em; /* add some inner padding */
  max-width: 800px; /* add a max width to div */
  background-color: rgba(0, 0, 0, 0.9); /* div is a little transparent */
}

/* done */
div.about img {
  width: 40%; /* make width only 40% if large screen */
}

/* done */ /* TODO: better way to organize this? */
div p {
  padding: 0 1.5em;
}

/* done */
nav a {
  color: #ffffff; /* color of text color */
  text-decoration: none; /* no decoration with links */
}

/* done */
a:hover {
  /* TODO: choose better color that makes sense for Phages? */
  color: hotpink; /* color of nav buttons when hovered */
}

/* done */
#contentArea {
  padding-top: 1em; /* spacing between content and nav bar */
}

/**
 * Navigation Bar
 */
/* done */
#navoptions ul {
  overflow-x: hidden; /* overflow content*/
  padding: 0em; /* remove default padding and make 0 */
  text-align: center; /* make nav bar centered */
}

/* done */
#navoptions li {
  display: inline-block; /* display on same line */
  margin: 5px 10px; /* space the buttons appart */
  padding: 0 6px 0 6px; /* add some padding to be legible inside border */
  background-color: black; /* nav button background color */
  border: 1px solid white; /* nav button border */
}

/**
 * Embedded Videos
 */
/* done */
.videowrapper {
  padding: 46.25% 0 0 0; /* set size of embedded vid */
  position: relative; /* reference is content div */
}

/* done */
.videowrapper iframe {
  position: absolute; /* using videowrapper as reference */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * Select Pages
 */
/* done */
.grid-container {
  display: grid; /* display is grid because it is a grid-container*/
  grid-template-columns: 2 1; /* one column with two rows for now */
  padding: 3vw; /* add a little bit of padding */
}

/* done */
.grid-item {
  cursor: pointer; /* change cursor to pointer */
  padding: 0.5vw; /* a bit of padding around the image button */
}

/* done */
.grid-item:hover {
  border: 1px solid rgba(255, 255, 255, 1); /* when hovered draw white border */
}

/* done */
.grid-item img {
  width: 100%; /* make img fit the size of its parent (grid item) */
  height: 100%;
}

/* done */
.overlay {
  position: relative; /* relative to grid-item */
  top: 50%; /* move text 50% from top */
  left: 50%; /* move text 50% from right */
  transition: 0.5s ease; /* fade in/out transition */
  opacity: 0.5; /* when not hovered, half opacity */
  pointer-events: none; /* allow clicks go through the overlay element */
}

/* done */
.grid-item:hover .overlay {
  opacity: 1; /* make it opaque if hovered */
}

/* done */
.overlaytext {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #dd6376; /* color of text */
  font-size: 350%; /* font size */
  white-space: nowrap; /* don't wrap if name too big */
}

/**
 * Hydra Page
 */
canvas {
  width: 100%;
  height: 400px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#hydra-list-container {
  float: left;
  border: 1px solid white;
  height: auto;
  width: 25%;
}

#hydra-canvas-container {
  background-color: #bbb;
  width: 70%;
  float: right;
  height: 100%;
}

#vowelsgif {
  display: none;
}

#hydraDescription {
  background-color: black;
  margin: auto; /* this helps center the div with content */
  padding: 1.5em; /* add some inner padding */
  max-width: 800px; /* add a max width to div */
}

#vowelsgif {
  visibility: hidden;
  display: none;
}

#hydra-list ul {
  font-size: 24px;
}

/**
 * For mobile devices 
 */
@media screen and (max-width: 760px) {
  /* done */
  div.about img {
    width: auto; /* auto adjust size */
    max-width: 50vw; /* this is max size for mobile */
  }

  /* done */
  .overlay {
    opacity: 100; /* just make text completely opaque for mobile */
  }

  /* done */
  .overlaytext {
    white-space: nowrap; /* don't wrap if name too big */
    font-size: 12vw; /* font should be relative to viewport */
  }

  /**
   * Hydra Page 
   */
  #hydra-list-container {
    border: none;
  }

  #hydra-list-container img {
    margin: 0.5em 0;
    left: 0;
    display: block;
    width: 100vw;
  }

  /* #hydra-canvas-container { */
  /*   display: none; */
  /* } */

  #hydraCanvas {
    display: none;
  }

  #hydraDescription {
    /* position: relative; */
    color: white;
    /* display: block; */
    display: none;
    /* left: 0; */
    /* bottom: 0; */
    /* position: fixed; */
  }

  #vowelsgif {
    display: none;
    margin: 0.5em 0;
    left: 0;
    /* display: block; */
    width: 100vw;
  }
}
