html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #ffffff;
  line-height: 1.7;
  background-color: #141414;
}

div.content {
  margin: auto;
  padding: 1.5em;
  /* max-width: 70em; */
  max-width: 800px;
  max-height: 800px;
  background-color: rgba(0, 0, 0, 0.9);
}

div.about img {
  padding: 0 2em 0 0;
  /* display: flex; */

  width: 40%;
  height: 80%;
  /* width: 250%; */
  /* height: 250%; */
  /* max-height: 100%; */
}
div {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}

div.about p {
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}

div.mission p {
  padding: 1em;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

#main {
  padding-top: 1em;
}

#navoptions {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0);
}

#navoptions ul {
  overflow-x: hidden;
  margin: 0;
  padding: 1em;
  text-align: center;
}

#navoptions li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 10px;
  padding: 0 5px 0 5px;
  text-align: center;
  background-color: black;
  border: 1px solid white;
}

.videowrapper {
  padding: 56.25% 0 0 0;
  position: relative;
  /* display: block; */
  /* vertical-align: middle; */
  /* height: 60%; */
  /* max-width: 100%; */
}

.videowrapper iframe {
  display: block;
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0;
  /* width: 80%; */
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-color: #2196f3; */
  padding: 10px;
  margin: auto;

  max-width: 45em;
}

.grid-item {
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: red;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* width: 10vw; */
  /* height: 10vw; */
  /* width: auto; */
  /* height: 10vw; */
  /* margin: auto; */
  padding: 4px;
  font-size: 18px;
  text-align: center;
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: auto;
  /* width: auto; */
  /* height: auto; */
  /* margin: auto; */
}

.overlay {
  /* position: absolute; */
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  /* For mobile phones */

  .videowrapper iframe {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  div.content {
    max-width: none;
    max-height: none;
  }

  /* About Page */
  div.about {
    /* margin: 0; */
    /* padding: 0; */
    /* display: block; */
  }

  div.about img {
    padding: 0;
    /* display: block; */
    /* margin: auto; */
    width: 100%;
    max-width: 80%;
    max-height: 100%;
  }

  .text {
    font-size: 16px;
  }
}
